* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    padding: 0 16px;
    margin: auto;
    height: 750px;
    width: 600px;
}
img{
    max-width: 100%;
    height: auto;
}

.d-flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.align-item {
    align-items: center;
}

.pimage{
    padding-bottom: 15px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    margin: 0 auto;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding-top: 10px;
}

p {
    font-size: 12px;
    padding-top: 20px;
}

table {
    padding-top: 20px;
    font-size: 14px;
    text-transform: capitalize;
}

.list {
    list-style-type: none;
}

h1 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 30px;
    color: rgb(53, 87, 100);
    padding-bottom: 20px;
}

h3 {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    text-transform: uppercase;
    padding-top: 30px;
}

.left {
    background-color: #213b46;
    color: white;
   padding-top: 50px ;
    font-family: 'Roboto', sans-serif;

}
.desc{
    padding-left: 30px;
}
.right {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    background-color: antiquewhite;
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgb(53, 87, 100);
    ;

}

.heading {
    border-bottom: 2px solid rgb(53, 87, 100);
    color: rgb(53, 87, 100);
}

tr {
    color: rgb(53, 87, 100);
    text-align: left;
}
.para{
    padding-right: 10px;
}