
<form [formGroup]="employeeForm" >
    <input type="text" placeholder="enter firstname" formControlName="name" class="form-control">
    <br>
    <span *ngIf="fun['name'] && fun['name'].invalid && fun['name'].touched || fun['name']" class="text-danger">*please enter your name</span><br>
    <input type="text" placeholder="gender" formControlName="gender" class="form-control" ><br>
    <span *ngIf="fun['gender'] && fun['gender'].invalid && fun['gender'].touched" class="text-danger">*please enter your gender</span><br>
    <input type="date" placeholder="dob" formControlName="dob" class="form-control"><br>
    <span *ngIf="fun['dob'] && fun['dob'].invalid && fun['dob'].touched" class="text-danger">*please enter your birthdate</span><br>
    <input type="text" placeholder="salary" formControlName="salary" class="form-control"><br>
    <span *ngIf="fun['salary'] && fun['salary'].invalid && fun['salary'].touched" class="text-danger">*please enter your salary</span><br>

    
    <br>
    <div class="d-flex">
        <button (click)="reset()">reset</button> <button (click)="save()">save</button>
    </div>
   
  </form>
  <!-- <app-employee-list></app-employee-list> -->