<form [formGroup]="loginForm" >
  <input type="text" placeholder="enter firstname" formControlName="name" class="form-control">
  <br>
  <span *ngIf="fun['name'] && fun['name'].invalid && fun['name'].touched || fun['name'].dirty">please enter your name</span><br>
  <input type="text" placeholder="enter lastname" formControlName="last" class="form-control"><br>
  <span *ngIf="fun['last'] && fun['last'].invalid && fun['last'].touched">please enter your lastname</span><br>
  <input type="password" placeholder="enter password" formControlName="password" class="form-control">
  <br>
  <button  (click)="onLogin()">login</button>
</form>